/* main */
main{
    background-color: black;
    height: calc(100vh - 62px);
    position: relative;
}
/* speak */
.speak{
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px;
}

.speak span{
    background-color: #222222;
    border-radius: 5px;
    cursor: pointer;
    padding: 7px;
    font-size: 10px;
}

.main-container{
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    column-gap: 5px;
    row-gap: 10px;
}
/* card */
.card{
    width: calc(100% / 7);
    position: relative;
}

.card img{
    display: block;
}

.card span{
    position: absolute;
    bottom: 0;
    left: 0;
    backdrop-filter: blur(10px);
}

/* footer */
footer{
    height: 62px;
}
nav{
    background-color: #222222;

    display: flex;
    justify-content: space-between;
}

.box-comandi{
    display: flex;
    padding: 10px 0;
    vertical-align: middle;
}

.comando{
    padding: 0 10px;
}

.comando i{
    font-size: 25px;
}

.comando i,
.comando span{
    display: block;
    text-align: center;
}

.box-comandi:last-child{
    color: red;
    background-color: lightgray;
    line-height: 60px;
}

.box-comandi>*{
    vertical-align: middle;
}