/* main */
main{
    background-color: black;
    height: calc(100vh - 60px);
    position: relative;
}
/* speak */
.speak{
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px;
}

.speak span{
    background-color: #222222;
    border-radius: 5px;
    cursor: pointer;
    padding: 7px;
    font-size: 10px;
}

.main-container{
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    column-gap: 5px;
    row-gap: 10px;
}
/* card */
.card{
    width: calc(100% / 7);
    position: relative;
}

.card img{
    display: block;
}

.card span{
    position: absolute;
    bottom: 0;
    left: 0;
    backdrop-filter: blur(10px);
}

/* footer */
footer{
    background-color: #222222;
    height: 60px;
}

nav{
    display: flex;
    justify-content: space-between;
}

nav>div{
    display: flex;
}